/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=JetBrains+Mono&display=swap');

#scan::before {
    background-image: url("btn-scan.svg");
}

#scan[disabled]::before {
    background-image: url("btn-scan-disabled.svg");
}

#resume::before,
#record::before {
    background-image: url("btn-record.svg");
}

#resume[disabled]::before,
#record[disabled]::before {
    background-image: url("btn-record-disabled.svg");
}

#stop::before {
    background-image: url("btn-stop.svg");
}

#stop[disabled]::before {
    background-image: url("btn-stop-disabled.svg");
}

#pause::before {
    background-image: url("btn-pause.svg");
}

#pause[disabled]::before {
    background-image: url("btn-pause-disabled.svg");
}

#save::before {
    background-image: url("icon-download.svg");
}

#save[disabled]::before {
    background-image: url("icon-download-disabled.svg");
}

#copy::before {
    background-image: url("icon-copy.svg");
}

#copy[disabled]::before {
    background-image: url("icon-copy-disabled.svg");
}

#clear-script::before {
  background-image: url("icon-delete-blank.svg");
}

.copy-ok#copy::before {
    background-image: url("icon-ok.svg");
}

.copy-fail#copy::before {
    background-image: url("icon-fail.svg");
}

#settings::before {
    background-image: url("icon-settings.svg");
}

#info::before {
    background-image: url("icon-info.svg");
}

#xpath-console::before {
  width: 0px;
}

#update::before {
  background-image: url("btn-update.svg");
}

#reset::before {
  background-image: url("btn-reset.svg");
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 12px;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}
html * {
    transition: all 0.1s;
}

.container {
    width: 520px;
    text-align: left;
}

.pad {
    min-width: 100%;
    margin: 12px 0;
}

.horizontal-pad {
    min-width: 80%;
    /* margin: 6px 0px 4px 6px; */
    margin: 6px 0px 6px 0;
}

button {
    background: #F7F5FA;
    border-radius: 2px;
    font-weight: 500;
    color: #4D33D1;
    margin: 0px 8px 0 0;
    user-select: none;
    outline: none;
    padding: 8px 16px;
    border: 1px solid #F7F5FA;
    display: inline-flex;
    align-items: center;
    line-height: 17px;
}
button:disabled {
    color: #D2D2D2;
    border: 1px solid #F7F5FA;
}
button:active:hover {
    border: 1px solid #6C50FA;
}
button:disabled:hover {
    cursor: not-allowed;
    z-index: 1;
    border: 1px solid #F7F5FA;
    background: #F7F5FA;
}
button:hover {
    cursor: pointer;
    z-index: 1;
    border: 1px solid #6C50FA;
    background: #E2DDF8;
}
button::before {
    display: inline-block;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    content: "";
}

.btn-wide::before {
    margin-right: 8px;
}

.btn-thin {
    float: right;
    padding: 8px;
}

.btn-last {
    margin-right: 0 !important;
}
.btn-active {
    background: #E1DDF8 !important;
}

.btn-context {
    background: transparent;
    font-weight: 400;
    color: #F7F7F8;
    margin: 4px 8px 4px 0;
    padding: 4px;
    border: none;
    line-height: 15px;

}
.btn-context:hover, .btn-context:active:hover {
    border: none;
    background: #2F353F;
}
.btn-context::before {
    height: 16px;
    width: 16px;
    margin-right: 4px;
}
.btn-context:disabled {
    color: #58546B;
    border: none;
}
.btn-context:disabled:hover {
    color: #58546B;
    border: none;
    background: transparent;
}
button.copy-ok:hover {
    cursor: default;
    z-index: 1;
    background: transparent;
}

.hidden {
    display: none !important;
}

img {
    vertical-align: middle;
}

.icon {
    float: right;
    margin: 0 5px;
    padding: 5px 0;
    user-select: none;
    outline: none;
    cursor: pointer;
}

#script-container {
    background-color: #f0f0f0;
    background: #2F353F;
    border-radius: 4px;
}

#status-field {
    font-size: 16px;
}

#script-container pre {
    padding: 12px 20px 0 12px;
    max-height: 400px;
    overflow: auto;
    margin: 0;
    white-space: pre-wrap;
    min-height: 24px;
}

#script-output {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #DCDBE1;
    min-width: 100%;
    min-height: 150px;
    outline: none;
    box-sizing: border-box;
}
#script-actions {
    background: #272C37;
    height: 32px;
    padding: 0 12px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    font-family: 'JetBrains Mono', monospace;
    border-radius: 1px;
    border: 1px solid #BBBBBB;
    height: 28px;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #EEEEEE;
    border: 1px solid #DDDDDD;
}

.checkbox {
    margin-top: 6px;
    width: 25px;
    position: relative;
}

#sortable {
    list-style-type: none;
    margin: 3px 12px 0 0;
    padding-left: 8px;
    overflow: hidden;
}

#sortable li {
    margin: 5px 10px 5px 0;
    padding: 5px;
    min-width: 40px;
    text-align: center;
    float: left;
    cursor: move;
    border: 1px solid #EEEEEE;
}

#config-panel {
    border: 1px solid #DDDDDD;
}

.disabled span {
    color: #D2D2D2;
    background-color: #FFFFFF;
}

.ui-sortable-disabled > li {
    border: 1px solid #E8E8E8;
    color: #D2D2D2;
    background-color: #FFFFFF;
    cursor: not-allowed;
}

#settings-panel {
  display: inline-grid;
  font-size: 16px;
}

h3 {
    margin: 20px 0 12px;
}

.panel-row {
    margin-top: 0px;
    margin-bottom: 10px;
}

.toggle {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}
.toggle-last {
    margin-bottom: 0;
}
.toggle label {
    line-height: 20px;
}

input[type="checkbox"], input[type="radio"] {
    margin: 0 8px 4px 0;
    vertical-align: middle;
}

.copy-ok, .copy-fail {
    background-color: transparent;
}